Frontend/node_modules/
__pycache__/
Backend/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
Backend/instance/
Backend/App/uploads/
Frontend/dist/
.DS_Store
App/.env
!.env.example
.idea/
.vscode/
